
<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    <!-------------------- Header Area (Start) -------------------->

    <!-------------------- Header Area (End) -------------------->
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>Bem-vindo à Móveis Prime</h2>
                    <h1>Especializados em <span class="typing-text">design moderno</span></h1>
                    <p>
                        Oferecemos soluções inovadoras em design de móveis com mais de 4 anos de experiência, criando
                        ambientes únicos e funcionais.
                    </p>
                    <a href="about.html" class="btn">Contate-me<i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/Logo3.jpg" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->
    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/About/Logo4.jpeg" alt="About-Image" />
            </div>

            <div class="content">
                <h2>Móveis Prime</h2>
                <p>
                    Experimente o futuro do conforto e do estilo com os nossos designs de móveis inovadores. Nossas peças
                    de mobiliário futuristas combinam tecnologia de ponta com estética elegante para transformar seus
                    espaços de vida em maravilhas modernas.
                </p>


                <div class="about-info">

                    <div class="info">
                        <h4>fundação: <span>No mercado desde 2020</span></h4>
                        <h4>Localização: <span>Brasilia DF</span></h4>
                        <h4>linguagens: <span>Portugues/Ingles/Espanhol</span></h4>
                        <h4>Area de atuação: <span>Moveis Planejados</span></h4>
                        <h4>Agendamento: <span>Aberta!</span></h4>
                        <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="4">4+</h1>
                            <h3>Anos de experiência</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="100">100+</h1>
                            <h3>Projetos completados</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="80">80+</h1>
                            <h3>Clientes Satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>Total de prêmios ganhos</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Minhas <span>Habilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Conceito<span> 95% </span> </h3>
                        <div class="progress-bar"> <span style="width: 95%;"></span> </div>
                    </div>
                    <div class="box">
                        <h3>Modelagem<span> 90% </span> </h3>
                        <div class="progress-bar"> <span style="width: 90%;"></span> </div>
                    </div>
                    <div class="box">
                        <h3>Fabricação<span> 85% </span> </h3>
                        <div class="progress-bar"> <span style="width: 85%;"></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Renderização<span> 75% </span> </h3>
                        <div class="progress-bar"> <span style="width: 75%;"></span> </div>
                    </div>
                    <div class="box">
                        <h3>Software de Design<span> 65% </span> </h3>
                        <div class="progress-bar"> <span style="width: 65%;"></span> </div>
                    </div>
                    <div class="box">
                        <h3>Estilo e Tendências<span> 60% </span> </h3>
                        <div class="progress-bar"> <span style="width: 60%;"></span> </div>
                    </div>
                </div>

            </div>

        </div>


    </section>
    <!-------------------- About Area (End) -------------------->
    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minha <span>Formação</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>Curso de Design de Móveis</h3>
                        <p>
                            Concluído o curso de design de móveis, onde aprendi os princípios básicos de design,
                            materiais e técnicas de fabricação.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3>Bacharelado em Design de Interiores</h3>
                        <p>
                            Graduação em design de interiores com foco em móveis e espaços residenciais, adquirindo
                            habilidades avançadas de concepção e estilização.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>Mestrado em Design de Mobiliário</h3>
                        <p>
                            Conclusão do mestrado em design de mobiliário, explorando tendências contemporâneas,
                            tecnologia de fabricação avançada e sustentabilidade no design.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - Presente</span>
                        <h3>Designer de Móveis Freelancer</h3>
                        <p>
                            Trabalho como designer de móveis freelancer, colaborando com clientes para criar peças
                            exclusivas que combinam forma, função e estética.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - Presente</span>
                        <h3>Consultor de Design de Interiores</h3>
                        <p>
                            Assessoria em projetos de design de interiores, oferecendo expertise em seleção de móveis,
                            layout de espaços e criação de ambientes harmoniosos.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - Presente</span>
                        <h3>Fabricante de Móveis Artesanais</h3>
                        <p>
                            Produção artesanal de móveis sob medida, utilizando técnicas tradicionais e materiais
                            sustentáveis para criar peças únicas e duradouras.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!-------------------- Qualification Area (End) -------------------->
    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Meus <span>Serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <h3>Design Personalizado</h3>
                <p>
                    Criação de designs exclusivos e personalizados para móveis que atendam às necessidades e estilo do
                    cliente.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-project-diagram"></i>
                <h3>Projetos de Interior</h3>
                <p>
                    Desenvolvimento de projetos de interior para espaços residenciais e comerciais, integrando decoração
                    de forma harmoniosa.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-tools"></i>
                <h3>Fabricação Artesanal</h3>
                <p>
                    Produção artesanal de móveis sob medida, utilizando materiais de alta qualidade e técnicas
                    tradicionais de marcenaria.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-calculator"></i>
                <h3>Orçamentos Personalizados</h3>
                <p>
                    Elaboração de orçamentos detalhados e personalizados, considerando materiais, mão de obra e
                    requisitos específicos do projeto.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-tools"></i>
                <h3>Manutenção e Restauração</h3>
                <p>
                    Serviços de manutenção e restauração de móveis antigos, preservando sua integridade e beleza
                    original.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-chart-line"></i>
                <h3>Consultoria de Design</h3>
                <p>
                    Consultoria especializada em design de móveis, oferecendo insights e orientações para aprimorar
                    espaços residenciais e comerciais.
                </p>
            </div>

        </div>

    </section>

    <!-------------------- Services Area (End) -------------------->
    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">
        <div class="heading">
            <h2>Meu <span>Portfólio</span></h2>
        </div>
        <div class="gallery">
            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos</li>
                <li class="button btn" data-filter="web">Móveis</li>
                <li class="button btn" data-filter="design">Projetos Personalizados</li>
                <li class="button btn" data-filter="photography">Decoração</li>
            </ul>
            <div class="box-container">
                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/Moveis1.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Móveis</h4>
                        <p>Categorias</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/Moveis1.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/Moveis2.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Móveis</h4>
                        <p>Categoria</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/Moveis2.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/ProjetosPersonalizados1.jpeg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Projetos Personalizados</h4>
                        <p>Categorias</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/ProjetosPersonalizados1.jpeg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/ProjetosPersonalizados-2.jpeg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Projetos Personalizados</h4>
                        <p>Categorias</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/ProjetosPersonalizados-2.jpeg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/Decoraçãodemoveis.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Decoração</h4>
                        <p>Categorias</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/Decoraçãodemoveis.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/DecoraçãodeMoveis2.jpeg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Decoração</h4>
                        <p>Categorias</p>
                            <a data-effect="mfp-newspaper" href="~/images/Portfolio/DecoraçãodeMoveis2.jpeg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-------------------- Portfolio Area (End) -------------------->
    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Carlinhos.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        A atenção aos detalhes e a qualidade dos móveis que recebi foram excepcionais.
                        Estou muito satisfeito com o serviço e recomendo a todos que procuram
                        designs únicos e funcionais.
                    </p>

                    <div class="intro">
                        <h3>Carlinhos</h3>
                        <h5>Designer de móveis</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Naldocanal.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Os móveis são incríveis, com uma combinação perfeita de estética e funcionalidade.
                        Cada peça é um verdadeiro destaque na minha casa. Obrigado por transformar minha
                        visão em realidade.
                    </p>

                    <div class="intro">
                        <h3>Nal do Canal</h3>
                        <h5>Cliente satisfeito</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/LuvadePedreiro.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O processo de personalização foi simples e o resultado final superou todas as minhas
                        expectativas. A equipe de design capturou perfeitamente o estilo que eu queria.
                    </p>

                    <div class="intro">
                        <h3>Iran</h3>
                        <h5>marceneiro</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/ManoelGomes.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        A qualidade dos materiais e o acabamento dos móveis são de primeira linha. Estou
                        impressionada com a durabilidade e o design elegante das peças.
                    </p>

                    <div class="intro">
                        <h3>Manoel Gomes</h3>
                        <h5>designer de interiores</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/BoraBill.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Recomendo fortemente para quem está em busca móveis personalizados e de alta qualidade e ótimo
                        preço.
                        O atendimento ao cliente foi excelente do início ao fim.
                    </p>

                    <div class="intro">
                        <h3>Bora Bill</h3>
                        <h5>arquiteto</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>

    <!-------------------- Testimonials Area (End) -------------------->
    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2><span>Notícias</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Blog1.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1º jan, 2021</span></h5>
                            <h5><i class="fas fa-user"></i><span>Setor Moveleiro</span></h5>
                        </div>
                        <a class="main-heading" href="#">Tendências de Design de Móveis para 2024</a>
                        <p>
                            Descubra as últimas tendências em design de móveis para 2024.
                            Desde o uso de materiais sustentáveis até novas abordagens estéticas.
                        </p>
                        <a href="https://setormoveleiro.com.br/tendencias-de-design-de-moveis/" class="btn">
                            leia mais <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Blog2.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>15º fev, 2023</span></h5>
                            <h5><i class="fas fa-user"></i><span>Vida Simples</span></h5>
                        </div>
                        <a class="main-heading" href="#">Como Escolher os Melhores Móveis para Sua Casa</a>
                        <p>
                            Dicas essenciais para escolher móveis que combinam com o seu estilo e
                            necessidades, garantindo conforto e funcionalidade.
                        </p>
                        <a href="https://vidasimples.co/colunista/5-maneiras-de-escolher-moveis-certos-para-a-sua-casa/"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Blog3.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>10º mar, 2020</span></h5>
                            <h5><i class="fas fa-user"></i><span>Mobellomoveis</span></h5>
                        </div>
                        <a class="main-heading" href="#">Guia Completo para Manutenção de Móveis de Madeira</a>
                        <p>
                            Saiba como cuidar dos seus móveis de madeira para que durem por muitos anos,
                            mantendo sua beleza e funcionalidade.
                        </p>
                        <a href="https://www.mobellomoveis.com.br/blog/cuidados-para-conservar-o-seu-movel-de-madeira"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Blog4.jpeg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>5º abr, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>por admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Móveis Personalizados: Como Criar Peças Únicas</a>
                        <p>
                            Descubra o processo de criação de móveis personalizados que refletem sua
                            personalidade e estilo único.
                        </p>
                        <a href="https://meissnerhaus.com.br/blogs/novidades/moveis-personalizados-criando-pecas-unicas-para-atender-as-necessidades-dos-clientes"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/Blog5.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>20º mai, 2020</span></h5>
                            <h5><i class="fas fa-user"></i><span>por admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Top 10 Dicas de Decoração com Móveis Sustentáveis</a>
                        <p>
                            Veja como integrar móveis sustentáveis na decoração da sua casa, criando
                            ambientes elegantes e ecológicos.
                        </p>
                        <a href="https://casacomdesign.com.br/dicas/dicas-para-criar-uma-decoracao-sustentavel/"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>

    <!-------------------- Blog Area (End) -------------------->
    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Contate</span>-nos</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Entre em contato</h3>

                <p>
                    Estamos aqui para transformar suas ideias em realidade. Fale conosco para projetos personalizados e
                    soluções inovadoras em design de móveis.
                </p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+55 61 9 9090-9090</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+55 61 3030-3030</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">abc@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">xyz@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box"
                          placeholder="menssagem"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Mande uma Menssagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/?locale=pt_BR" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/?lang=pt-br" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
            <a href="https://br.linkedin.com/" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>Criado por <span>Móveis Prime</span> | all rights reserved</p>
        </div>
    </footer>
    <!-------------------- Footer Area (End) -------------------->
    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Marcenaria', 'Montagem', 'Projetos personalizados', 'Designs inovadores!', 'Acabamento de qualidade', 'Moveis sob medida', 'Orçamento sem compromisso'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>

</body>
