     .dropdown-content {
        display: none;
        position: absolute;
        background-color: #648d78;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 8px;
        border-radius: 3%;
        right: 0; /* Alinha o submenu à direita */
    }
    
    .dropdown-content a {
        color:#648d78;
        padding: 7px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 5px;
    }
    
    .dropdown-content a:hover {
        background-color: #648d78;
        color: #648d78; /* Muda a cor da letra para azul ao passar o mouse */
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
     .dropdown-content a {
        color: #648d78;
        padding: 18px; /* Adiciona padding */
        text-decoration: none;
        display: flex;
        margin: 1px; /* Adiciona a margem */
        border-radius: 3%;
        
    }
    
    .dropdown-content a:hover {
        color: #648d78;
        background-color: #648d78;       
        border: #648d78 2px;
        border-radius: 3%;
        
    }